<div class="container" id="overview">
  <%= image_tag 'rerout-sg.jpg' %>
  <p>The <a href="http://web.cse.ohio-state.edu/~stewart.962/rerout.html">ReRout Lab</a>uses computer systems research to broaden participation in computer science.  Our premise is that novel, high-impact systems excite students, reach new classes of users, and demand diverse, out-of-the-box thinking.  The following principles guide our work:</p>
  <ol>
    <li>Motivating and training the next generation of systems builders is paramount</li>
    <li>Real, open, and usable systems prototypes have big impact</li>
    <li>Well-solved research problems can qualitatively change a user's interaction with their computer</li>
  </ol>
  <p>
    <strong>I am currently looking for students. If you have already applied to OSU and you want to join the ReRout Lab, send me an email with your CV. Note, admission to OSU is highly selective. I can not reply to all good candidates.</strong>
  </p>
</div>
<div id="people">
  <div>
    <% phdStudent =[{name:"Jayson Boubin",page:"https://www.linkedin.com/in/jayson-boubin-94a51a89/",intro:"Research Highlights: Winner CSE Departmental Fellowship"},
      {name:"Nathaniel Morris",page:"http://web.cse.ohio-state.edu/~morris.743/pages/about.html",intro:"Research Highlights: Ford Fellowship Honorable Mention, ICAC 2017 and SOSP 2017 Travel Grant, Developing novel models to predict response time under computational sprinting "},
      {name:"Jaimie Kelley",page:"https://denison.edu/people/jaimie-kelley",intro:"Graduated 2017: Assistant Professor at Denison University (tenure track)"},
      {name:"Aniket Chakrabarti",page:"https://www.linkedin.com/in/aniket-chakrabarti-44651925/",intro:"Graduated 2017: Applied Scientist at Microsoft AI and Research team"},
      {name:"Zichen Xu (informal advisor)",page:"https://www.linkedin.com/in/zichen-xu-5630a48/",intro:"Graduated 2016: Associate Professor at Nanchang University"},
      {name:"Nan Deng",page:"https://www.linkedin.com/in/nan-deng-29057918/",intro:"Graduated 2015: SWE in Cloud Computing at Google"}]%>
    <% masterStudent=[{name:"Siva Meenakshi Renganathan",intro:"2017, Apple"},{name:"Rashmi Rao",intro:"2017, Data scientist at Exact Software"},
      {name:"Puja Gupta",intro:"2015, Qualcomm"},{name:"Sundeep Kambhampati",intro:"2014 , Microsoft, Research Highlight: Parallelized version EAGLET now used in production (IC2E 2013)"},
      {name:"Umang Vipal",intro:"2014, a2z inc "},{name:"Xi Qiu",intro:"2014"},{name:"Jianwei Tu",intro:"2014, Snapchat"},
      {name:"Chen Li",intro:"2013, VMWare"},{name:"Daiyi Yang",intro:"2011, Reinvate"},{name:"Jing Li",intro:"2011, Microsoft"}]%>
    <% undergdStudent =[{name:"Shiqi Zhang",intro:"2017"},{name:"Stephanie Mohammed",intro:"2016, Exact Software"},
      {name:"Brian Carr",intro:"2015, Microsoft "},{name:"Xiaoran Hu",intro:"2014, went to USC, Research highlight: Undergraduate thesis"},
      {name:"Ashley Biales-Wise",intro:"2014, first employment GM"},{name:"Alex Bunch",intro:"2012, went to Carnegie Mellon University
Research highlight: Alex's undergraduate thesis laid the framework for https://www.datagreening.com"}]%>
    <% internStudent =[{name:"Onix Tarrat",intro:"SROP, 2017"},{name:"CeDale Smith",intro:"SROP, 2014"},
      {name:"Joel Poualeu",intro:"DREU, 2010"},{name:"Nelson Burgos",intro:"DREU, 2010"}]%>
    <!-- <h2>PHD Students</h2>
  <ul>
    <% phdStudent.each do |student| %>
    <li><span><%= student[:name] %></span>,<a href='<%= student[:page]  %>'>webpage</a>
      <p><%= student[:intro] %></p>
    </li>
    <% end %>
  </ul>
  <h2>Master Students</h2>
  <ul>
    <% masterStudent.each do |student| %>
    <li><span><%= student[:name] %></span>, <span><%= student[:intro] %></span>
    </li>
    <% end %>
  </ul>
  <h2>Undergraduate Students</h2>
  <ul>
    <% undergdStudent.each do |student| %>
    <p><span><%= student[:name] %></span>, <span><%= student[:intro] %></span></p>
    <% end %>
  </ul>
  <h2>Summer Intern</h2>
  <ul>
    <% internStudent.each do |student| %>
    <p><span><%= student[:name] %></span>, <span><%= student[:intro] %></span></p>
    <% end %>
  </ul> -->
  </div>

  <div class="carousel-container">
  <h2>People</h2>
  <div class="carousel my-carousel carousel--translate">
    <input class="carousel__activator" type="radio" name="carousel" id="phdStudent" checked="checked"/>
    <input class="carousel__activator" type="radio" name="carousel" id="masterStudent"/>
    <input class="carousel__activator" type="radio" name="carousel" id="undergdStudent"/>
    <input class="carousel__activator" type="radio" name="carousel" id="internStudent"/>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="phdStudent"></label>
      <label class="carousel__control carousel__control--forward" for="masterStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="masterStudent"></label>
      <label class="carousel__control carousel__control--forward" for="undergdStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="undergdStudent"></label>
      <label class="carousel__control carousel__control--forward" for="internStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="internStudent"></label>
      <label class="carousel__control carousel__control--forward" for="phdStudent"></label>
    </div>
    <div class="carousel__track">
      <li class="carousel__slide">
        <h2>PHD Students</h2>
        <% phdStudent.each do |student| %>
        <p><strong><%= student[:name] %></strong>, <a href='<%= student[:page]  %>'>webpage</a></p>
          <p><%= student[:intro] %></p>
        <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Master Students</h2>
          <% masterStudent.each do |student| %>
          <p><strong><%= student[:name] %></strong>, <span><%= student[:intro] %></span></p>
          <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Undergraduate Students</h2>
        <% undergdStudent.each do |student| %>
        <p><strong><%= student[:name] %></strong>, <span><%= student[:intro] %></span></p>
        <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Summer Intern</h2>
        <% internStudent.each do |student| %>
        <p><strong><%= student[:name] %></strong>, <span><%= student[:intro] %></span></p>
        <% end %>
      </li>
    </div>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="phdStudent"></label>
      <label class="carousel__indicator" for="masterStudent"></label>
      <label class="carousel__indicator" for="undergdStudent"></label>
      <label class="carousel__indicator" for="internStudent"></label>
    </div>
  </div>
</div>
</div>


<div class="tabPanel-widget" id="projects">
  <label for="project1" tabindex="0"></label>
    <input id="project1" type="radio" name="tabs" checked="true" aria-hidden="true">
  <h2>project1</h2>
  <div>
    <%= image_tag 'mantismail.png' %>
    <h2>Greening as a Service</h2>
    <p>(Supported by: NSF CSR SMALL )
(Collaborators: Microsoft Research, Oak Ridge National Labs, Morehouse College, NCWIT, OSU Office of Diversity and Inclusion ) </p>

<h2>Research Challenge:</h2>
<p>
  Internet services that provide search, e-commerce, and social networking have changed the world, but their growing carbon footprint is a concern.  By 2020, the annual carbon footprint of hosting centers worldwide is expected to exceed the footprint of the Netherlands.  Massive carbon footprints contribute to climate change and could lead to costly, punitive regulations.  Our research attempts to slow the growth of carbon footprints by moving Internet services to clean energy.  The challenge is that, as of today, most sources of clean energy are more expensive per joule than dirty sources.

</p>
<p>
  We propose greening services, a new type of service that aligns clean energy goals with profit incentives.  Greening services use clean energy to power requests routed through their servers, even if those requests access servers run by other services.   In other words, a greening service is a service that makes other services green.  In our vision, greening services will use renewable energy credits or carbon offsets.  These transferable certificates undo greenhouse-gas emissions transparently, even when emissions occur in carbon-heavy areas, making them attractive to large-scale, geographically distributed services.
</p>
<p>
  Greening services work because some users will prefer to route their requests through environmentally sustainable services.  Greening services can profit from those users without incurring the full costs of running large scale services.  However, greening services must manage their costs.  Our systems research studies the potential for caching on greening services.  We also study the challenge of accurately accounting the carbon footprint of remote servers.
</p>
<h3>Recommended Reading: </h3>
<p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/dengicac12.pdf">Adaptive Green Hosting, ICAC 2012</a></p>
<p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/dengissst11.pdf">ISSST 2010 (Third Best Paper)</a></p>
<h3>Impact: </h3>
<p>
  <a href="https://www.datagreening.com/">Datagreening.com</a>is prototype greening service.  It moves email (specifically, IMAP) to clean energy.  The site is publically accessible in the Beta version.  Our goal is to offset 2 Tonnes of CO2E in 2014.  We support any type of email that can be accessed through IMAP, in particular we often host GMail, Yahoo, Hotmail users.
</p>
<h3>Media and Press Release:</h3>
<p>
  Visit <a href="https://www.datagreening.com">https://www.datagreening.com</a>

</p>
  </div>
  <label for="project2" tabindex="0"></label>
  <input id="project2" type="radio" name="tabs" aria-hidden="true">
  <h2>project2</h2>
  <div>
    <h2>High Performance Cloud Infrastructure</h2>
    <p>(Supported by: NSF CSR SMALL , Amazon Equipment Grant, Nationwide Children's Hostpital ) </p>
    <p>(Collaborators: Nationwide Children's Hostpital, VMWare ) </p>
    <h3>Research Challenge:</h3>
    <p>
      Over 90% of the world's digital data was produced in the last 2 years. The next generation of Internet services will access a lot of data for each user request, but neither processor speeds nor expectations for fast response times change.  We are building cloud infrastructure, e.g., key-value stores and data-parallel platforms, that can efficiently and scalably access large ammounts of data in seconds.  The increasing density of main memory serves as a building block for such services.  However, main memory systems are sensitive to performance anomalies at scale, i.e., 100 to 1000 threads per user request.  In such systems, response times can depend on the slowest main memory acceess times---not the average access times.  Unfortunately, access times in practice are not normally distributed.  The slowest accesses can 100X larger than the average, causing large delays.  It is also challenging to keep main memory systems fully utilized.  Small slowdowns caused by background jobs, compliance software, or garbage collection can ripple throughout the processing pipeline, leading to inefficient execution and slow response times.
    </p>

    <h3>Recommended Reading: </h3>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/stewartmascots10.pdf">Entomomodel..., MASCOTS 2010 (best paper)</a></p>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/kelleydcperf13.pdf">Balanced and Predictable Networked Storage, DCPerf 2013</a></p>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/stewarticac13.pdf">Zoolander..., ICAC 2013</a></p>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/kambhampatiic2e14.pdf">Managing Tiny Tasks for Data-Parallel, Subsampling Workloads, IC2E 2014</a></p>

    <h3>Impact: </h3>
    <p>Working with researchers at Nationwide Children's Hostpital, we have parallized <a href="http://www.mathmed.org/wclstewart/SOFT/EAGLET/eaglet.html">EAGLET</a>, a popular tool used to study disease causing genes by statistical geneticists. The EAGLET package comprises C, C++, Perl, and Bash code. It was written to maximize single-thread performance and usability. Rather than rewite the whole package, we integrated EAGLET into a data-parallel framework that could handle such legacy code: BashReduce. We have significantly extended BashReduce in this effort. Our parallel version will replace the existing EAGLET distribution on the software's next release. We also plan to release our <a href="http://rcrowley.org/2009/06/27/bashreduce.html">BashReduce</a> improvements as open source.
    </p>
    <p>We also developed Zoolander, a key value store that support strict service level objectives (e.g., 99.99% of gets and puts complete in less than 5ms). Zoolander uses commodity hardware and can extend any open source key value store (e.g., Redis or Zookeeper). We have scaled Zoolander up to 120 nodes on Amazon EC2, achieving requests rates at the scale of TripAdvisor while meeting strict SLOs.</p>
    <h3>Media and Press Release:</h3>
    <p>We expect a production release of EAGLET with our parallel infrastructure soon. Stay tuned. </p>
  </div>
  <label for="tab-3" tabindex="0"></label>
  <input id="tab-3" type="radio" name="tabs" aria-hidden="true">
  <h2>project3</h2>
  <div>
    <h2>Quality Aware Management</h2>
    <p>(Supported by: NSF CSR SMALL ) </p>
    <p>(Collaborators: Microsoft Research, Oak Ridge National Labs, Morehouse College, NCWIT, OSU Office of Diversity and Inclusion ) </p>
    <h3>Research Challenge:</h3>
    <p>For many next generation services, data will grow much faster than processing capacity.  These services will access only a portion of the data relevant to a user's query.  Our research helps services automatically 1) identify the most valuable data for each user request and 2) ensure it can be accessed readily and cost effectively.  Thus far, we have focused on natural language processing services, e.g., search engines and question-answering systems.  For a specific user request, NL data often contains redundancies, e.g., multiple web pages with the same information or multiple word phrases with same meaning.  These redundancies can crowd out useful data causing to NLP services to produce poor quality results.  Our contribution is systems support to measure quality for distributed services and, subsequently, manage resources cost effectively within quality constraints.</p>
    <h3>Recommended Reading: </h3>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/kelleyladis13.pdf">Cache Provisioning for Interactive NLP Services, LADiS 2013 </a></p>
    <p><a href="http://web.cse.ohio-state.edu/~stewart.962/Papers/kelleydcperf13.pdf">Balanced and Predictable Networked Storage, DCPerf 2013</a></p>
    <h3>Media and Press Release:</h3>
    <a href="http://www.youtube.com/embed/eiA5Uo1uJHI" target="_blank">
			  <img src="http://www.cse.ohio-state.edu/~cstewart/images/qa.vig.jpg" alt="Outreach Effort"></a>
    <p>
Outreach Event:  We recently brought middle school students participating in Camp Engineer to the ReRout Labs for a friendly Jeopardy match.  The middle schools students competed againt our Open Ephyra system (Open Ephyra is a question answering system like IBM Watson).  The Youtube video to the left summarizes the event and unveils the winner.</p>
    </div>
</div>
