<h1><i class="fas fa-folder"></i>Projects</h1>
</div>
  <div class="carousel-container">
  <div class="carousel my-carousel carousel--translate">
    <input class="carousel__activator" type="radio" name="carousel" id="phdStudent" checked="checked"/>
    <input class="carousel__activator" type="radio" name="carousel" id="masterStudent"/>
    <input class="carousel__activator" type="radio" name="carousel" id="undergdStudent"/>
    <input class="carousel__activator" type="radio" name="carousel" id="internStudent"/>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="phdStudent"></label>
      <label class="carousel__control carousel__control--forward" for="masterStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="masterStudent"></label>
      <label class="carousel__control carousel__control--forward" for="undergdStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="undergdStudent"></label>
      <label class="carousel__control carousel__control--forward" for="internStudent"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="internStudent"></label>
      <label class="carousel__control carousel__control--forward" for="phdStudent"></label>
    </div>
    <div class="carousel__track">
      <li class="carousel__slide">
        <h2>PHD Students</h2>
        <% data.student.phdStudent.each do |student| %>
        <p><strong><%= student["name"] %></strong>, <a href='<%= student["page"]  %>'>webpage</a></p>
          <p><%= student["intro"] %></p>
        <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Master Students</h2>
          <% data.student.masterStudent.each do |student| %>
          <p><strong><%= student["name"] %></strong>, <span><%= student["intro"] %></span></p>
          <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Undergraduate Students</h2>
        <% data.student.undergdStudent.each do |student| %>
        <p><strong><%= student["name"] %></strong>, <span><%= student["intro"] %></span></p>
        <% end %>
      </li>
      <li class="carousel__slide">
        <h2>Summer Intern</h2>
        <% data.student.internStudent.each do |student| %>
        <p><strong><%= student["name"] %></strong>, <span><%= student["intro"] %></span></p>
        <% end %>
      </li>
    </div>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="phdStudent"></label>
      <label class="carousel__indicator" for="masterStudent"></label>
      <label class="carousel__indicator" for="undergdStudent"></label>
      <label class="carousel__indicator" for="internStudent"></label>
    </div>
  </div>
</div>
</div>
